@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}

:root{
    --background-color: #B2ECE1;
    --text_color:#01726c;
    --navbar_text_color:#fff;
    --navbar_color:#CF1259;
    --navbar_color_hover:transparent;
    --second_color:#E7B236;
    --first_color:#2191FB;
    --gradient: linear-gradient(#ff155b, #ff5959);
}

/* Custome Scroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var( --background-color);
    border-radius: 5rem;
}


header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 9;
    display: flex;
    align-items: center;

    justify-content: space-between;
    background: var(--navbar_color);
    padding: 15px 100px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}

.logo{
    font-size: 20px;
    color: #fff;
}
.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--navbar_text_color);
}
.navbar a::after{
    content: "";
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}

.navbar a:hover::after{
    width: 100%;
  
}

.login_btn a{
    padding: 10px 40px;
    color: var(--navbar_text_color);
    font-weight: 600;
}

.login_btn .login{
    background-color: var(--first_color);
    color: var(--navbar_text_color);
    border-radius: 0.5rem;
}

.login_btn .login:hover{
    background-color: var(--navbar_text_color);
    color: var(--first_color);
    transition: 0.5s ease;
}

.home_container{
    margin-top: 40px;
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover ;
    background-position: center;
    height: 500px;
    width: 100%;   
    height: 100vh;
}

.contenthome_container {
    padding-top: 90px;
    text-align: center;
}
.contenthome_container h3{
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.contenthome_container p {
    font-size: 20px;
    margin-bottom: 20px;
}

.visit_btn a{
    padding: 10px 40px;
    color: var(--navbar_text_color);
    font-weight: 600;
}

.visit_btn .visit{
    background-color: var(--first_color);
    color: var(--navbar_text_color);
    border-radius: 0.5rem;
}

.visit_btn .visit:hover{
    background-color: var(--navbar_text_color);
    color: var(--first_color);
}



/* More About */

.more_about {
    margin-top: 250px;
}
.more_about_container {
    display: flex;
}

.left_moreabout{
    padding: 0px 60px;
}
.left_moreabout h3{
    font-size: 40px;
    padding-bottom: 30px;
}
.left_moreabout p{
    font-size: 15px;
    text-align: justify;
}

.right_moreabout img{
    width: auto;
    height: 400px;
    padding-left: 60px;
    padding-right: 60px;
}


/* Services About */
.services_about {
    padding: 160px 60px;
}
.services_about h1{
 text-align: center;
 font-size: 40px;
 margin-bottom: 20px;
 color: #CF1259;
}
.services_about_container {
    display: flex;
    text-align: center;
    
}
.services_container {
    margin-left: 20px;
    margin-right: 20px;
    background: var(--first_color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-bottom: 70px;
    transition: all 1s ease; /* Adding a transition for a smooth effect */
}

.services_container:hover {
    background: linear-gradient(var(--navbar_color), var(--first_color)); /* Replace --second_color with the desired color or value */
}

.services_container img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.services_container h3{
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.services_container p{
    padding-left: 20px;
    padding-right: 20px;

    font-size: 15px;
    text-align: center;
}



/* Footer */
.start_footer h4{
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--navbar_text_color);
}

.start_footer h5{
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--navbar_text_color);
   
}
.footer_info{
    background: var(--first_color);
}
.footer_info p{
    font-size: 15px;
    font-weight: 600;
    color: var(--navbar_text_color);
}
.footer_container {
    display: flex;
    padding: 50px 60px;
    justify-content: space-around;

}

.home_footer {
    display: block;
}
.footer h3{
    color: var(--navbar_text_color);
    margin-bottom: 5px;
}

.footer a{
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0px;
    color: var(--navbar_text_color);
}

.footer a:hover{
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0px;
    color: var(--navbar_color);
}

.icons_block {
    display: flex;
    margin-top: 5px;
    
}
.icons_block i{
    font-size: 25px;
    padding-right: 10px;
}

.copyright{
    text-align: center;
}

@media screen and (max-width: 768px) {
    
    

        header{
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            z-index: 9;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
            background: var(--navbar_color);
            padding: 15px 100px;
            box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
            -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
            
        }

        .logo{
            font-size: 25px;
            color: #fff;
        }
        .navbar{
            display: flex;
        }
        .navbar li{
            position: relative;
            margin-bottom: 25px;
        }

        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 10px 16px;
            text-decoration: none;
          
          }
        .navbar a::after{
            content: "";
            width: 0;
            height: 3px;
            background: var(--gradient);
            position: absolute;
            bottom: -6px;
            left: 0;
            transition: 0.5s;
        }

        
        .login_btn a{
            padding: 5px 30px;
            color: var(--navbar_text_color);
            font-weight: 400;
        }
        
        .login_btn .login{
            background-color: var(--first_color);
            color: var(--navbar_text_color);
            border-radius: 0.5rem;
        }
        
        .login_btn .login:hover{
            background-color: var(--navbar_text_color);
            color: var(--first_color);
            transition: 0.5s ease;
        }


        .contenthome_container {
            padding-top: 150px;
            text-align: center;
        }


        /* More About */

        .more_about {
            margin-top: 100px;
        }
        .more_about_container {
            display: flex;
            flex-direction: column;
        }

        .left_moreabout{
            padding: 0px 20px;
        }
        .left_moreabout h3{
            font-size: 40px;
            padding-bottom: 40px;
        }
        .left_moreabout p{
            font-size: 15px;
            text-align: justify;
            margin-bottom: 20px;
        }

        .right_moreabout img{
            width: auto;
            height: 300px;
            padding-left: 20px;
            padding-right: 20px;
        }
        


        /* Services About */
        .services_about {
            padding: 0px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .services_about h1{
        text-align: center;
        font-size: 40px;
        margin-bottom: 20px;
        color: #CF1259;
        }
        .services_about_container {
            display: flex;
     
            flex-direction: column;
            justify-content: space-between;
        }
        .services_container {
            margin-left: 0px;
            margin-right: 0px;
            background: var(--first_color);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            padding-bottom: 40px;
            margin-bottom: 20px;
            transition: all 1s ease; /* Adding a transition for a smooth effect */
        }

        .services_container:hover {
            background: linear-gradient(var(--navbar_color), var(--first_color)); /* Replace --second_color with the desired color or value */
        }

        .services_container img{
            width: 100%;
            height: 200px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            
        }

        .services_container h3{
            padding-top: 20px;
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
        }

        .services_container p{
            padding-left: 20px;
            padding-right: 20px;

            font-size: 15px;
            text-align: center;
        }



        /* Footer */
        .start_footer{
            margin-bottom: 50px;
        }
        .start_footer h4{
            font-size: 20px;
            margin-bottom: 5px;
            color: var(--navbar_text_color);
        }

        .start_footer h5{
            font-size: 13px;
            margin-bottom: 5px;
            color: var(--navbar_text_color);
        
        }
        .footer_info{
            background: var(--first_color);
        }
        .footer_info p{
            font-size: 15px;
            font-weight: 600;
            color: var(--navbar_text_color);
        }
        .footer_container {
            display: flex;
            padding: 50px 60px;
            justify-content: space-around;
            flex-direction: column;
        }



        .home_footer {
            display: block;
            margin-bottom: 50px;
        }
        
        .footer h3{
            color: var(--navbar_text_color);
            margin-bottom: 5px;
        }

        .footer a{
            font-size: 15px;
            font-weight: 500;
            padding: 10px 0px;
            color: var(--navbar_text_color);
        }

        .footer a:hover{
            font-size: 15px;
            font-weight: 500;
            padding: 10px 0px;
            color: var(--navbar_color);
        }

        .services_footer{
            margin-bottom: 50px;
        }

        .contact_footer{
            margin-bottom: 50px;
        }

        .icons_block {
            display: flex;
            margin-top: 20px;
            
        }
        .icons_block i{
            font-size: 25px;
            padding-right: 10px;
        }

        .copyright{
            text-align: center;
        }


}